body {
    background: linear-gradient(to right, #f7a8b8, #f3b8c1);
    font-family: Arial, sans-serif;
}

.homepage .text-content {
    color: #4e4b47;
    max-width: 50%;
}

.homepage h1 {
    font-weight: bold;
    margin-left: 100px;
    color: #4e4b47;
}

.homepage h5 {
    margin-top: 20px;
    margin-left: 650px;
    color: #4e4b47;
}

.homepage a.btn-primary {
    background-color: #3e2b1e;
    border-color: #3e2b1e;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left:700px;
    display: inline-block;

}

.image-container {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}
