<%-include ../Partials/header.ejs %>
<%-include ../Partials/main_nav.ejs %>
<link rel="stylesheet" type="text/css" href="Content/home.css"> 

<div class="homepage">
    <h1>Find your furry companion today!</h1>
    <h5>Whether you want a cuddle buddy or an adventure partner, </h5>
    <h5>we have the perfect pet for you!</h5>
    <a href="/aboutus" class="btn btn-primary">Learn More About Us</a>
    <div class="image-container">
        <img src="/Assets/images/mainpageimage.jpg" alt="Pets">
    </div>
</div>


<%- include ../Partials/footer.ejs %>