<%-include ../Partials/header.ejs %>
<%-include ../Partials/main_nav.ejs %>
<link rel="stylesheet" type="text/css" href="Content/products.css"> 

<div class="container">
<h2> Our store has all kinds of animals for all kinds of pet lovers </h2>
        <!-- Section 1 -->
        <div class="section">
            <img src="/Assets/images/birds.jpg" width="150" height="150">
            <p> We have different kinds of birds including: Finches, Lovebirds, Cockateils, Parakeets, and Parrots.</p>
        </div>

        <!--Section 2 -->
        <div class= "section">
            <img src="/Assets/images/cats.jpg" width="150" height="150">
            <p> We have all kinds of cats from hairless to hairy. Some may be fiesty but their all very lovable.</p>
            <p>The different breeds of cats we own include: Sphynx, Persian, Scottish Fold, Ragdoll, Siamese, and, the Norwegian Forest Cat.</p>
        </div>

        <!--Section 3 -->
        <div class = "section">
            <img src="/Assets/images/chicks.jpg" width="150" height="150">
            <p> We have chicks for all the aspiring chicken owners that want their own eggs one day.</p>
        </div>

        <!--Section 4 -->
        <div class = "section">
            <img src="/Assets/images/dogs.jpg" width="150" height="150">
            <p> We have cute and lovable dogs for you as well as gaurd dogs. From short and fluffy to strong and big we have them all.</p>
            <p> The breeds of dogs we own are: German Shephard, Bulldogs, Siberian Huskies, Golden Retrievers, Pomeranian, and, Great Dane.</p>
        </div>

        <!--Section 5 -->
        <div class = "section">
            <img src="/Assets/images/fishes.jpg" width="150" height="150">
            <p> Our fishes come from the great mediteranean sea. They are known to have long lives and they come in many colors.</p>
            <p> The types of fishes we have include: Betta, Goldfish, Guppies,  Angelfish, Tetra, as well as Swordtails.</p>
        </div>

        <!--Section 6 -->
        <div class = "section">
            <img src="/Assets/images/rabbits.jpg" width="150" height="150">
            <p> The rabbits we own are soft and cuddly as well as potty trained. They have been trained well to also help people get through anxiety and depression.</p>
            <p> The different types of rabbits we own include: The Holland Hop, European, Polish, Mini Satin, Grey Giant, and the Cashmere Lop.</p>
        </div>
</div>

<%- include ../Partials/footer.ejs %>