<%-include ../Partials/header.ejs %>
<%-include ../Partials/main_nav.ejs %>
<link rel="stylesheet" type="text/css" href="Content/services.css"> 

<div class="container">
<h2> Our Services </h2>
    <div class="section">
        <!-- Image on the left -->
        <img src="/Assets/images/grooming.jpg" alt="Grooming Puppy">
        <p> Our store does grooming with the starting price being 10 dollars.</p>
    </div>

    <div class="section">
        <!-- Image in the middle -->
        <img src="/Assets/images/colored.jpg" alt="Colored Puppy">
        <p> We also do pet safe hair dye with the starting price being 15 dollars(According to the pet you own)</p>
    </div>

</div>

<!-- Text content -->
<p> We also have a how to solve crimes class with our lead trainer Flash Centry prices starting at 25 dollars</p>
<p> We can also take you and your pet on a survival instincts trip for 50 dollars.(ps it will get muddy)</p>
<p> We also do a beginners cooking class for new pet owners so you and your pet so you both can get closer and becpome a family.</p>

<%- include ../Partials/footer.ejs %>